.visualWrap {
  background-color: rgba(35, 38, 45, 0.9);
}

.visualWrap::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url(../../../assets/visual_img.jpg) no-repeat top center/cover;
  position: absolute;
}
