.visualWrap {
  position: relative;
  background: url(../../../assets/visual_img.jpg) no-repeat top center/cover;
}

.visualWrap::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 0;
  position: absolute;
  background-color: rgba(35, 38, 45, 0.9);
}
